*{
    margin:0px;
    padding: 0px;
    list-style: none;
    box-sizing: inherit;
}

#calculadora{
    display: block;
    gap: 1rem;
    padding: 1.5rem;
    border: 3px solid red;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
}

#painel{
    border: 2px dashed green;
    text-align: center;
}

#botoes{
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: 2px dashed black;
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.3fr 0.3fr;
    gap: 2rem;
}